In [2]:
import pandas as pd

El archivo sale de acá pero es muy pesado para subir a github:<br>
https://www.kaggle.com/datasets/sudalairajkumar/daily-temperature-of-major-cities/code

In [4]:
path = r'.\city_temperature.csv'
df = pd.read_csv(path)
df.head()

c:\Users\Daiana\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

   Region  Country State     City  Month  Day  Year  AvgTemperature
0  Africa  Algeria   NaN  Algiers      1    1  1995            64.2
1  Africa  Algeria   NaN  Algiers      1    2  1995            49.4
2  Africa  Algeria   NaN  Algiers      1    3  1995            48.8
3  Africa  Algeria   NaN  Algiers      1    4  1995            46.4
4  Africa  Algeria   NaN  Algiers      1    5  1995            47.9

In [ ]:
#me voy a quedar con los datos de america del sur, para un rango acotado de años.
df_tmp = df[['Country','City','Month','Year','AvgTemperature']]\
        .loc[(df['Year']>1990) & (df['Year']<2024) & (df['Region']=='South/Central America & Carribean')]\
        .groupby(['Year','Country','City'])['AvgTemperature'].mean()

In [7]:
df_tmp.head()

Year  Country    City
1995  Argentina  Buenos Aires    61.701370
      Bahamas    Nassau          76.628493
      Barbados   Bridgetown      80.766849
      Belize     Belize City    -44.337190
      Bermuda    Hamilton        69.420548
Name: AvgTemperature, dtype: float64

In [8]:
df_tmp.describe()

count    615.000000
mean      62.402992
std       28.255087
min      -99.000000
25%       60.901096
50%       70.383607
75%       76.871918
max       84.477808
Name: AvgTemperature, dtype: float64

In [9]:
df_tmp.to_csv('serie_tiempo_temperaturas.csv')